In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import StringType

spark = SparkSession.builder.getOrCreate()
pointsDF = spark.read.option('inferSchema','true').csv('datasets/points.txt')
pointsDF = pointsDF.withColumnRenamed('_c0','x')
pointsDF = pointsDF.withColumnRenamed('_c1','y')
pointsRDD = pointsDF.rdd.map(lambda x : tuple(x)) # Convert a DataFrame into a RDD
pointsRDD.take(4)

[(5, 5), (15, 17), (15, 16), (5, 6)]

In [8]:
newDF = pointsRDD.toDF() #Convert RDD to a DF
newDF.show()

+---+---+
| _1| _2|
+---+---+
|  5|  5|
| 15| 17|
| 15| 16|
|  5|  6|
|  6|  6|
| 16| 16|
|  8|  8|
|  7|  6|
| 17| 17|
|  6|  7|
|  7|  8|
| 18| 18|
|  8|  6|
| 17| 16|
|  5|  8|
| 17| 16|
|  8|  8|
| 16| 17|
| 17| 18|
| 18| 16|
+---+---+
only showing top 20 rows

In [9]:
pandasDF = pointsDF.toPandas()
pandasDF.head()

    x   y
0   5   5
1  15  17
2  15  16
3   5   6
4   6   6